* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 92.5px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
  position: relative;
  z-index: 99;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav .logo {
  width: 92px;
  height: 42px;
  border: 2px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  display: flex;
  align-items: flex-end;
}
nav .logo span {
  margin-bottom: -5px;
  margin-left: -2px;
  letter-spacing: 2px;
}
nav .links {
  min-width: 400px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: normal;
}
nav .links a {
  border-right: 1px solid #ee4367;
  padding-right: 23px;
}
nav .links .last-link {
  border: none;
  padding-right: 0;
}

@media all and (max-width: 1000px) {
  nav .logo {
    margin-left: 50px;
  }
  nav .links {
    margin-right: 50px;
  }
}
@media all and (max-width: 920px) {
  nav .logo {
    margin-left: 50px;
  }
  nav .links {
    margin-right: 50px;
  }
}
@media all and (max-width: 870px) {
  nav {
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .logo {
    margin: 0;
  }
  nav .links {
    margin: 0;
  }
}
.nav-black {
  height: 92.5px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  position: relative;
  z-index: 99;
}
.nav-black a {
  text-decoration: none;
  color: black;
}
.nav-black .logo {
  width: 92px;
  height: 42px;
  border: 2px solid black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: black;
  display: flex;
  align-items: flex-end;
}
.nav-black .logo span {
  margin-bottom: -5px;
  margin-left: -2px;
  letter-spacing: 2px;
}
.nav-black .links {
  min-width: 400px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.nav-black .links a {
  border-right: 1px solid #ee4367;
  padding-right: 23px;
}
.nav-black .links .last-link {
  border: none;
  padding-right: 0;
}

@media all and (max-width: 1000px) {
  .nav-black .logo {
    margin-left: 50px;
  }
  .nav-black .links {
    margin-right: 50px;
  }
}
@media all and (max-width: 920px) {
  .nav-black .logo {
    margin-left: 50px;
  }
  .nav-black .links {
    margin-right: 50px;
  }
}
@media all and (max-width: 870px) {
  .nav-black {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-black .logo {
    margin: 0;
  }
  .nav-black .links {
    margin: 0;
  }
}
footer {
  max-width: 1280px;
  height: 455px;
  background-color: #ee4367;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
footer .logo {
  width: 92px;
  height: 42px;
  border: 2px solid white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: white;
  display: flex;
  align-items: flex-end;
}
footer .logo span {
  margin-bottom: -5px;
  margin-left: -2px;
  letter-spacing: 2px;
}
footer .contact-box {
  width: 244px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: nowrap;
  color: white;
  font-size: 16px;
}
footer .input-box {
  width: 692px;
  height: 60px;
  background-color: blueviolet;
  display: flex;
}
footer .input-box .left {
  width: 76%;
  height: 100%;
  background-color: #f56b88;
  padding: 20px;
}
footer .input-box .left p {
  font-size: 16px;
  color: white;
  opacity: 0.5;
}
footer .input-box .right {
  width: 24%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ee4367;
}
footer .links {
  width: 154.66px;
  min-height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 45px;
}
footer h2 {
  color: white;
  opacity: 0.5;
  font-size: 12px;
  font-weight: normal;
}

.home {
  max-width: 1280px;
  margin: 0 auto;
}
.home .hero {
  width: 100%;
  height: 500px;
  background-color: #ffd140;
  background-image: url(../images/home-hero.png);
  margin-top: -92.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.home .hero h1 {
  font-family: PT Serif;
  font-size: 40px;
  font-weight: normal;
  color: white;
  text-wrap: wrap;
}
.home .hero h2 {
  font-size: 20px;
  font-style: italic;
  color: #ee4367;
  font-weight: normal;
}
.home .hero .paragraph {
  max-width: 416px;
  height: 46px;
  text-align: center;
  margin: 50px 0;
  color: white;
}
.home .hero .read-more {
  width: 121.62px;
  height: 40.04px;
  background-color: #ee4367;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}
.home .section-one {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .section-one .container {
  width: 980px;
  min-height: 20px;
  margin: 0 auto;
}
.home .section-one .container .paragraph {
  width: 789px;
  height: 100px;
  font-size: 15px;
  color: #ffd140;
  font-weight: 700;
  font-style: italic;
  text-wrap: wrap;
  letter-spacing: 0.5px;
}
.home .section-one .container .signature {
  width: 142px;
  height: 40px;
}
.home .section-one .container .signature h1 {
  font-family: PT serif;
  font-size: 15px;
  font-weight: normal;
  color: #ee4367;
  padding: 0px;
}
.home .section-one .container .signature h2 {
  font-family: PT serif;
  font-size: 10px;
  font-weight: normal;
  color: #a8a8a8;
  margin-top: -10px;
}
.home .section-two {
  width: 100%;
  height: 320px;
  background-color: #540d6e;
  padding: 50px 40px;
}
.home .section-two .title {
  width: 392px;
  height: 45px;
  font-size: 25px;
  color: white;
  border-bottom: 2px solid white;
}
.home .section-two .main-container {
  max-width: 1198px;
  height: 124px;
  margin-top: 34.5px;
  display: flex;
  justify-content: space-between;
}
.home .section-two .main-container .sub-container {
  width: 220px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.home .section-two .main-container .sub-container .left {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  font-size: 13px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .section-two .main-container .sub-container .left h1 {
  font-size: 22px;
  color: white;
  font-weight: bold;
  padding: 0;
}
.home .section-two .main-container .sub-container .left p {
  font-size: 13px;
  color: white;
  font-weight: lighter;
  padding: 0;
}
.home .section-two .main-container .sub-container .right {
  width: 140px;
  height: 100%;
}
.home .section-two .main-container .sub-container .right h1 {
  font-size: 13px;
  color: white;
  font-weight: normal;
}
.home .section-two .main-container .sub-container .right p {
  font-size: 13px;
  color: #ee4367;
}

.about {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 95px;
}
.about .hero {
  width: 979.5px;
  height: 378.75px;
  background-color: #ffd140;
  background-image: url(../images/about-hero.png);
  margin: 0 auto;
  margin-top: 85.5px;
}
.about .title {
  width: 229px;
  height: 35px;
  border-bottom: 2px solid black;
  margin: 36.5px 0;
}
.about .title h1 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 1px;
}
.about p {
  font-size: 16px;
  color: black;
  font-weight: lighter;
  font-style: italic;
}

.gallery {
  max-width: 980px;
  margin: 0 auto;
}
.gallery .title {
  width: 229px;
  height: 35px;
  border-bottom: 2px solid black;
  margin: 36.5px 0;
}
.gallery .title h1 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 1px;
}
.gallery .image-gallery {
  max-width: 980px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px 0;
  margin-bottom: 60px;
}
.gallery .image-gallery .box-1 {
  width: 489px;
  height: 187px;
  background-color: #ffd140;
  background-image: url(../images/1.png);
}
.gallery .image-gallery .box-2 {
  width: 187px;
  height: 187px;
  background-color: #ee4367;
  background-image: url(../images/2.png);
}
.gallery .image-gallery .box-3 {
  width: 265px;
  height: 187px;
  background-color: #08ad69;
  background-image: url(../images/3.png);
}
.gallery .image-gallery .box-4 {
  width: 603px;
  height: 306px;
  background-color: #540d6e;
  background-image: url(../images/4.png);
}
.gallery .image-gallery .box-5 {
  width: 355px;
  height: 306px;
  background-color: #3bceab;
  background-image: url(../images/5.png);
}

.gallery-1 {
  width: 980px;
  margin: 0 auto;
}
.gallery-1 .hero {
  max-width: 100%;
  height: 400.5px;
  background-color: #ffd140;
  background-image: url(../images/galleries-hero-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 124px;
  margin: 50px 0;
}
.gallery-1 .hero h2 {
  font-size: 300px;
  font-weight: normal;
  color: #ffd140;
}
.gallery-1 .hero p {
  font-size: 140px;
  font-weight: normal;
  color: #ffd140;
  margin-top: 147px;
}
.gallery-1 .paragraph-box {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  font-size: 16px;
  font-weight: lighter;
}
.gallery-1 .paragraph-box .left {
  width: 47%;
  height: 100%;
}
.gallery-1 .paragraph-box .right {
  width: 47%;
  height: 100%;
}

.gallery-2 {
  width: 980px;
  margin: 0 auto;
}
.gallery-2 .hero {
  max-width: 100%;
  height: 400.5px;
  background-color: #ee4367;
  background-image: url(../images/galleries-hero-2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 124px;
  margin: 50px 0;
}
.gallery-2 .hero h2 {
  font-size: 300px;
  font-weight: normal;
  color: #ee4367;
}
.gallery-2 .hero p {
  font-size: 140px;
  font-weight: normal;
  color: #ee4367;
  margin-top: 147px;
}
.gallery-2 .paragraph-box {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  font-size: 16px;
  font-weight: lighter;
}
.gallery-2 .paragraph-box .left {
  width: 47%;
  height: 100%;
}
.gallery-2 .paragraph-box .right {
  width: 47%;
  height: 100%;
}

.gallery-3 {
  width: 980px;
  margin: 0 auto;
}
.gallery-3 .hero {
  max-width: 100%;
  height: 400.5px;
  background-color: #08ad69;
  background-image: url(../images/galleries-hero-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 124px;
  margin: 50px 0;
}
.gallery-3 .hero h2 {
  font-size: 300px;
  font-weight: normal;
  color: #08ad69;
}
.gallery-3 .hero p {
  font-size: 140px;
  font-weight: normal;
  color: #08ad69;
  margin-top: 147px;
}
.gallery-3 .paragraph-box {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  font-size: 16px;
  font-weight: lighter;
}
.gallery-3 .paragraph-box .left {
  width: 47%;
  height: 100%;
}
.gallery-3 .paragraph-box .right {
  width: 47%;
  height: 100%;
}

.gallery-4 {
  width: 980px;
  margin: 0 auto;
}
.gallery-4 .hero {
  max-width: 100%;
  height: 400.5px;
  background-color: #540d6e;
  background-image: url(../images/galleries-hero-4.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 124px;
  margin: 50px 0;
}
.gallery-4 .hero h2 {
  font-size: 300px;
  font-weight: normal;
  color: #540d6e;
}
.gallery-4 .hero p {
  font-size: 115px;
  font-weight: normal;
  color: #540d6e;
  margin-top: 170px;
  text-wrap: nowrap;
}
.gallery-4 .paragraph-box {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  font-size: 16px;
  font-weight: lighter;
}
.gallery-4 .paragraph-box .left {
  width: 47%;
  height: 100%;
}
.gallery-4 .paragraph-box .right {
  width: 47%;
  height: 100%;
}

.gallery-5 {
  width: 980px;
  margin: 0 auto;
}
.gallery-5 .hero {
  max-width: 100%;
  height: 400.5px;
  background-color: #3bceab;
  background-image: url(../images/galleries-hero-5.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 124px;
  margin: 50px 0;
}
.gallery-5 .hero h2 {
  font-size: 300px;
  font-weight: normal;
  color: #3bceab;
}
.gallery-5 .hero p {
  font-size: 115px;
  font-weight: normal;
  color: #3bceab;
  margin-top: 170px;
}
.gallery-5 .paragraph-box {
  width: 100%;
  height: 133px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 73px;
  font-size: 16px;
  font-weight: lighter;
}
.gallery-5 .paragraph-box .left {
  width: 47%;
  height: 100%;
}
.gallery-5 .paragraph-box .right {
  width: 47%;
  height: 100%;
}

.blog {
  max-width: 980px;
  margin: 0 auto;
}
.blog .title {
  width: 229px;
  height: 35px;
  font-size: 25px;
  color: black;
  border-bottom: 2px solid black;
  margin-top: 65.5px;
}
.blog .container {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 30.5px 0;
}
.blog .container a {
  text-decoration: none;
}
.blog .container a .box {
  width: 460px;
  height: 257px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.blog .container a .box .left {
  width: 60px;
  height: 60px;
  background-color: #ee4367;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog .container a .box .left h1 {
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.blog .container a .box .left p {
  font-size: 12px;
  font-weight: lighter;
  color: white;
}
.blog .container a .box .right {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog .container a .box .right .image-box {
  width: 100%;
  height: 140px;
  background-color: yellow;
  background-image: url(../images/blog-hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.blog .container a .box .right h2 {
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin-top: 20px;
}
.blog .container a .box .right p {
  font-size: 13px;
  font-weight: normal;
  color: #ee4367;
}

.blog-pages {
  max-width: 980px;
  margin: 0 auto;
  padding-bottom: 151px;
}
.blog-pages .hero {
  width: 100%;
  height: 300px;
  background-color: #ee4367;
  background-image: url(../images/pink-blog-hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
.blog-pages .hero .date {
  width: 155.25px;
  height: 155.25px;
  background-color: #ee4367;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog-pages .hero .date h1 {
  font-size: 55px;
  font-weight: bold;
  color: white;
  margin-top: 12px;
}
.blog-pages .hero .date p {
  font-size: 31px;
  font-weight: lighter;
  color: white;
}
.blog-pages h1 {
  font-size: 20px;
  font-weight: normal;
  color: #ee4367;
  margin-top: 57px;
  margin-bottom: 30px;
}
.blog-pages p {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 33px;
}

.contact {
  width: 980px;
  margin: 0 auto;
}
.contact .header {
  width: 229px;
  height: 35px;
  border-bottom: 2px solid black;
  font-size: 25px;
  color: black;
  margin-top: 65.5px;
}
.contact .container {
  width: 100%;
  min-height: 442px;
  margin-top: 65.5px;
  margin-bottom: 180px;
  display: flex;
  justify-content: space-between;
}
.contact .container .left {
  width: 50%;
  height: 442px;
}
.contact .container .left .box-1 {
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 21px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 10px;
}
.contact .container .left .box-1 p {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}
.contact .container .left .box-2 {
  width: 100%;
  height: 199px;
  background-color: #f5f5f5;
  margin-bottom: 21px;
  display: flex;
  padding-left: 20px;
  padding-top: 10px;
}
.contact .container .left .box-2 p {
  font-size: 16px;
  color: black;
  opacity: 0.5;
}
.contact .container .left .send {
  width: 167px;
  height: 60px;
  background-color: #ee4367;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}
.contact .container .right {
  width: 44%;
  height: 442px;
  background-color: yellow;
  background-image: url(../images/map.png);
}

/*# sourceMappingURL=styles.css.map */
